<li class="active">Laptops Management</li>
<li class="order_state"><%= link_to "All Laptops", {action: "index", controller: "laptops", state: "all"} %></li>
<li class="order_state"><%= link_to "Laptops Stocks", {action: "index", controller: "laptops", state: "stocks"} %></li>
<li class="order_state"><%= link_to "Laptops Reserved", {action: "index", controller: "laptops", state: "reserved"} %></li>
<li class="order_state"><%= link_to "Laptops Rented", {action: "index", controller: "laptops", state: "rented"} %></li>