<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h3><strong><%= new_orders.length %></strong> new orders need to confirm.</h3>
  <h1 class="page-header">New Orders</h1>
  <%= render "new_orders_table" %>
</div>
