<div class="nav-sidebar">
  <ul class="nav-sidebar-menu">
    <%= render "laptops_mng" %>
  </ul>
  <ul class="nav-sidebar-menu">
    <%= render "orders_mng" %>
  </ul>
  <ul class="nav-sidebar-menu">
    <li class="active">Users Management</li>
    <li><%= link_to "All Users", users_url %></li>
  </ul>
</div>
