<% if notice %>
  <p class="alert alert-success"><%= notice %></p> 
<% end %>
<div class="admin-page">
  <%= image_tag "admin.jpg", class: "admin-page-image"%>
  <%= render "sidebar" %>
  <%= render "main" %>
</div>
