<div class="contents">
  <h1>Change Account Settings</h1>
  <%= render "form" %>
  <% if current_user.admin %>
    <%= link_to "Back to Users List", users_url , class: "buttons btn btn-primary"%>
  <% else %>
    <%= link_to "Home", "/" , class: "buttons btn btn-primary"%>
  <% end %>
</div>
