<div class="container">
  <div class="page-header">
    <h1>Change Account Settings</h1>
  </div>
  <%= render "form" %>
  <% if current_user.admin %>
    <%= link_to "Back to Users List", users_url , class: "btn btn-primary"%>
  <% else %>
    <%= link_to "Home", "/" , class: "btn btn-primary"%>
  <% end %>
</div>
