<% if notice %>
    <p class = "alert alert-danger"><%= notice %></p>
<% end %>
<div class="jumbotron">
  <h1>Welcome! 8th Light</h1>
  <p>Please Log in</p>
  <p>
    <% unless session[:user_id].nil? %>
      <%= link_to "View Laptops List", catalog_index_path, class: "btn btn-lg btn-primary"%>
    <% end %>
  </p>
</div>
