<div class="jumbotron">
  <h1>Welcome</h1>
  <p>This is system lend a laptop for 8th Light people </p>
  <p>
    <%= link_to "View Laptops List", catalog_index_path, class: "btn btn-lg btn-primary"%>
  </p>
</div>
