<% if notice %>
  <p class = "alert alert-danger"><%= notice %></p>
<% end %>
<h1 class="home-msg welcome">
  Welcome, 8th Light<br>
  Rent a laptop on the prismBox.
</h1>
<% unless session[:user_id].nil? %>
  <%= link_to "Rent Laptop", catalog_index_path, class: "home-catalog-btn"%>
<% end %>
