.nav-your-account {
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  right: 170px;
  top: 10px;
}

.nav-signin-title {
  color: #0B486B;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.nav-account-dropdown-menu {
  background-color: #f5f5f5;
  border: solid 1px #999;
  color: #999;
  display: none;
  height: 190px;
  min-height: 190px;
  list-style-type: none;
  padding: 10px;
  position: fixed;
  top: 65px;
}

.open{
  display: block;
}

.nav-account-dropdown-header {
  font-size: 15px;
}

li, .nav-account-dropdown-menu {
  margin-bottom: 3px;
  margin-top: 3px;
}

.nav-account-dropdown-link {
  color: #040004;
  font-size: 14px;
  font-weight: lighter;
  padding: 5px;
}

.nav-account-dropdown-link:hover {
  color: #8F8F8F;
}

.nav-account-dropdown-divider {
  background-color: #e5e5e5;
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
}

.nav-account-dropdown-logout {
  color: #999;
  font-size: 15px;
  padding: 5px;
}

.nav-account-dropdown-logout:hover {
  color: #040004;
  font-size: 15px;
  padding: 5px;
}

.nav-account-login {
  display: block;
  right: 10px;
  margin-top: 20px;
  padding: 2px;
  position: absolute;
}

.nav-account-id {
  background-color: white;
  font-size: 13px;
  margin-right: 12px;
  min-width: 20%;
  width: 300px;
}

.nav-account-pw {
  background-color: white;
  font-size: 13px;
  min-width: 15%;
  width: 220px;
}

.header_btn {
  background-color: #428bca;
  border: 1px inset #357ebd;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 1.5px;
  margin-left: 25px;
  text-align: center;
}

.login {
  font-size: 14px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  top: 22px;
}

.logout {
  font-size: 15px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 30px;
  top: 15px;
}

.nav-new-account {
  color: #632F53;
  font-size: 13px;
  min-width: 15%;
  position: absolute;
  right: 55px;
  top: 36px;
  width: 600px;
}

.nav-new-account a {
  color: #B03851;
}
