.admin-page {
}

.nav-sidebar {
  background-image: url("textured_paper.png");
  font-size: 18px;
  height: 86%;
  left: 15px;
  letter-spacing: 1px;
  padding: 5px;
  position: fixed;
  top: 80px;
}

.nav-sidebar ul, li {
  list-style: none;
}

.nav-sidebar-menu {
  padding: 10px;
}

.active {
  font-weight: bolder;
}

.main {
  left: 25%;
  position: relative;
}
