body {
  background-image: url("light_toast.png");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 70%;
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  border: 2px inset #e5e5e5;
  border-radius: 4px;
  color: #555;
  font-family: inherit;
  line-height: 1.5;
  padding: 3px;
}

label {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  padding: 15px;
  width: 20%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border-spacing: 2px;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 30px;
  padding: 6px;
  text-align: left;
  vertical-align: center;
}

th, td {
  border-bottom: 1.5px solid #BCBCBC;
}

th {
  font-weight: bolder;
}

.container {
  left: 0px;
  position: fixed;
  top: 80px;
  width: 100%;
  min-width: 50%;
  height: 90%;
}
.buttons {
  padding: 15px;
}

.btn {
  border: 1.5px inset #357ebd;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 6px;
  text-align: center;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.table-striped tbody tr {
  background-image: url("paper_3.png"); 
}

.info {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
  width: 70%;
}
