body {
  background-image: url("light_toast.png");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 70%;
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  border: 2px inset #e5e5e5;
  border-radius: 4px;
  color: #555;
  font-family: inherit;
  line-height: 1.5;
  padding: 3px;
}

label {
  color: #033649;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px;
  width: 23%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border-spacing: 2px;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 30px;
  padding: 6px;
  text-align: left;
  vertical-align: center;
}

th, td {
  border-bottom: 1.5px solid #BCBCBC;
}

th {
  font-weight: bolder;
}
