.navbar {
  border-bottom: 2px inset #F6F6FA;
  left: 0;
  height: 80px;
  min-height: 80px;
  min-width: 50%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.nav-logo {
  left: 15px;
  margin-top: 8px;
  position: fixed;
}

.nav-logo-link {
  color: #F6F6FA;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 3px 3px #0B2E59;
}
