.home-image {
  height: 700px;
  left: 0;
  min-height: 450px;
  min-width: 50%;
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: fixed;
  top: 0;
}

.home-msg {
  color: #F6F6FA;
  left: 5%;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  top: 15%;
}

.welcome {
  font-size: 38px;
  text-shadow: 3px 3px #0B486B;
}

.home-catalog-btn {
  background-color: #F6F6FA;
  border: 2px inset #0B486B;
  border-radius: 4px;
  color: #0B486B;
  font-size: 18px;
  font-weight: bolder;
  left: 5.5%;
  letter-spacing: 1.5px;
  padding: 12px;
  position: absolute;
  text-align: center;
  top: 31%;
}
