.form-signin {
  background-image: url("handmadepaper.png");
  margin-top: 50px;
  height: 65%;
}

.form-signin-container {
  font-size: 15px;
  margin: auto;
  width: 50%;
}

.signin-title {
  letter-spacing: 1.2px;
  padding-top: 50px;
}

.signin-label {
  width: 40%;
}

.signin-input {
  width: 50%;
}
