<div class="container">
  <div class="page-header">
    <h1>Edit Laptop</h1>
  </div>
  <%= render "form" %>
  <div class="back">
  <%= link_to "Back", laptops_url , class: "btn btn-primary"%>
  </div>
</div>
