<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Prism Box</a>
    </div>
    <%= render "layouts/login" %>
    <%= render "layouts/logout" %>
  </div>
</div>
