<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Prism Box", title_url_by_user , class: "navbar-brand"%>
    </div>
    <%= render "layouts/login" %>
    <%= render "layouts/logout" %>
  </div>
</div>
