<div class="navbar" role="navigation">
  <div class="nav-logo">
    <%= link_to "PrismBox", title_url_by_user , class: "nav-logo-link"%>
  </div>
  <%= render "layouts/login" %>
  <%= render "layouts/logout" %>
</div>
