<% unless session[:user_id].nil? %>
  <p class="greeinng navbar-right">HELLO, <%= current_user.name.upcase %></p>
  <br><div class="navbar-form navbar-right">
    <%= link_to "LOG OUT", logout_url, method: :delete , class: "btn btn-primary" %>
  </div>
<% end %>

